{% extends 'base.html' %}
{% load static %} 
{% block content %}




<!-------------------row2------------------------->
<div style="text-align: center;margin-top: 50px;margin-bottom: 50px;" class="mt-5">
{% for product in product %}
<a href="{% url 'details' product.id %}" style="margin-left:50px"><img src="{{ product.upload.url }}" style="width:250px" class="rounded"></a>
    
{% endfor %}
</div>
 
     
  

  <!------------------------------>
    
  

 <!--div class="row mt-5 container-fluid ">
  <div class=" d-flex">
    
  <div class="col-3" style="margin-left:40px;">
   
     <body> <img src="{% static 'store1/images/sari.webp' %}" style="width:180px"class="rounded"> </body>
     <footer>
       <p> Sari   </p>

       <p> Prix:60.000 Fcfa  </p>
     </footer>

   </div>
     
   

    
  


{% endblock %}
