{% extends 'admin_base.html' %}
{% load static %} 
{% block content %}

<div style="text-align: center;margin-top: 50px;margin-bottom: 50px;" class="text-white">
	<h6>Vos articles</h6>

<!--
{% for product in product %}
<a href="{% url 'admin_details' product.id %}" style="margin-left:50px"><img src="{{ product.upload.url }}" style="width:250px" class="rounded"></a>
    
{% endfor %}
-->
{% for product in product %}

<table class="table container text-white table  ">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Photo</th>
      <th scope="col">Nom</th>
      <th scope="col">Prix</th>
      <th scope="col">Année</th>
      <th scope="col">Nouvauté</th>
      <th scope="col">Description</th>
	  <th scope="col">Cathégorie</th-->

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ product.id }}</th>
      <th scope="row"><img src="{{ product.upload.url }}" style="width:250px" class="rounded"></th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }} Fcfa</td>
      <td>{{ product.year_formed }}</td>
      <td>{{ product.new|yesno }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.cat }}</td>
     </tr>
     <tbody>
     	</table>
{% endfor %}

</div>
 
 {% endblock %}
